body{
   .poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

}

.navbar{
    height: 5rem;
    background: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #030006d3 !important;

}
 /* footer */

 .f-info-links a{
    text-decoration: none;
    color: #222222;
 }
 .f-info-links a:hover{
    text-decoration: underline;
 }

 .f-info-links{
    width: 100%;
 }

 .f-info-socials{
    width: 100%;
   
 }

 .f-info-socials i{
    margin-top: 1rem;
    font-size: 2rem;
    margin-right: 1rem;
 }

 .f-info{
    text-align: center;
    height: 8rem;
    background: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;

 }

 /* card */

 .listing-card{
   border: none !important;
   margin-bottom: 2rem;
 }

 .card-img-top{
   border-radius:1rem !important ;
   width: 100% !important;
   object-fit: cover !important;
 }

 .card-text{
   font-weight: 400 !important;
 }

 .listing-link{
   text-decoration: none !important;
 }

 /* card edit */

 .card-img-overlay{
   opacity: 0;

 }

 .card-img-overlay:hover{
   opacity: 0.2;
   background: white;
 }

 .btn btn-dark{
   margin-top: 5px;
 }

 /* new card */

 .add-btn{
   background-color: #fe424d !important;
   border: none !important;
 }

 /* edit page*/
.edit-btn{
     background-color: #fe424d !important;
   border: none !important;
}

#map {
height: 400px;
width: 100vh;
}

